/* GENERAL */

body{
    font-family: 'Mukta', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

p{
    font-weight: normal;
    font-size: 22px;
}

.white{
    color: #fff;
}

.black{
    color: #101113; 
}

img{
    max-width: 100%;
    height: auto;
}
ul,ol{
    list-style:none;
}
section{
    padding: 45px 0px 60px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 20px;
}
section .heading h2{
    text-transform: uppercase;
}
.blue-divider{
    width: 100px;
    height: 2px;
    background: #007AFC;
    margin: 0 auto 20px;

}
.white-divider{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}

.modal-content{
    border: 5px solid #007AFC;
    color: #101113;
    border-radius: 15px;
}

.button1{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.5s ease-in 0s;
}
.button1:hover{
    background: white;
    color: #007AFC;
    text-decoration: none;
}

.button2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #007AFC;
    border: 1px solid #007AFC;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.5s ease-in 0s;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
}
.button2:hover{
    background: #007AFC;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
}

.button3{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #007AFC;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.5s ease-in 0s;
    width: 100%;
}
.button3:hover{
    background: white;
    color: #007AFC;
    text-decoration: none;
}

/* MENU */
.navbar {
    background-color: #007AFC;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #007AFC !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

/* ABOUT */

#about{
    padding-top: 50px;
    background: #007AFC;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.5s ease-in 0s;
}

.profile-picture:hover{
     filter: none;
    -webkit-filter: none;
}

#about .heading{
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #000;
}
#about .heading h3{
    color: #101113;
}




/* SKILLS */

#skills{
    padding-top: 50px;
    background: #fff;
}

#skills .heading h2 {
    color: #007AFC;
}
#skills .progress{
    height: auto;
    margin: 0px 20px 30px 20px;
    background: #ddd;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    border-radius: 5px
}
#skills .progress-bar{
    background: #007AFC;
}
#skills .progress h5{
    margin-top: 5px;
    text-shadow: 1px 1px 1px #000;
}

.info{
    text-align: center;
}

/* Other Skills */

#otherSkills{
    padding-top: 50px;
    background: #007AFC;
}

#otherSkills .heading h2{
    color: #fff;
}

#otherSkills .card{
    margin: 0px 20px 30px 20px;
    text-align: center;
    padding: 20px 10px;
    height: auto;
    border: 5px solid #101113;
    border-radius: 20px;
    color: #007AFC;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
}

#otherSkills .card-img-top{
    padding: 10px;
}

#otherSkills .progress{
    height: auto;
    background: #ddd;
    position: relative;
}
#otherSkills .progress-bar{
    background: #007AFC;
    font-size: 20px;
}

#otherSkills .card{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.5s ease-in 0s;
    
}
#otherSkills .card:hover{
     filter: none;
    -webkit-filter: none; 
}

/* Formation */


#education{
    padding-top: 50px;
    background: #fff;
}

#education .heading h2{
    color: #007AFC;
}

#education .timeline{
    padding: 30px 10px;
    position: relative;
}

#education .global-panel-sm{
    padding: 30px 10px;
    position: relative;
    text-align: center;
}

#education .timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
#education .timeline > li{
    margin-bottom: 20px;
    position: relative;
}
#education .timeline > li:after{
    clear: both;
}
#education .timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
#education .timeline li .timeline-badge{
    color: #fff;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #007AFC;
    border-radius: 50%;
}

#education .panel-sm-badge{
    color: #007AFC;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -25px;
    background-color: #fff;
    border-radius: 50%;
}

#education .timeline-panel-container{
    width: 50%;
    float: left;
}

#education .panel-sm{
    width: 100%;
    margin: 0px 0px 20px 0px;
    border: 1px solid #0061C8;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #007AFC;
}

#education .timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
#education .timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #0061C8;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #007AFC;
}
#education .timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
#education .timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #0061C8;
    border-right: 0 solid #0061C8;
    border-bottom: 14px solid transparent;
    content: " ";
}
#education .timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
#education .timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
#education .timeline-heading h4{
     color: #fff;
}

#education .timeline-heading p{
     color: #aaa;
}

#education .panel-sm-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
#education .panel-sm-heading h4{
     color: #fff;
}

#education .panel-sm-heading p{
     color: #aaa;
}

/* expérience */

#experience{
    background: #007AFC;
}
#experience .heading h2{
    color: #fff;
}
#experience .timeline{
    padding: 30px 10px;
    position: relative;
}

#experience .global-panel-sm{
    padding: 30px 10px;
    position: relative;
    text-align: center;
}

#experience .timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
#experience .timeline > li{
    margin-bottom: 20px;
    position: relative;
}
#experience .timeline > li:after{
    clear: both;
}
#experience .timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
#experience .timeline li .timeline-badge{
    color: #007AFC;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

#experience .panel-sm-badge{
    color: #fff;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -25px;
    background-color: #007AFC;
    border-radius: 50%;
}

#experience .timeline-panel-container{
    width: 50%;
    float: left;
}
#experience .timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
#experience .timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}

#experience .panel-sm{
    width: 100%;
    margin: 0px 0px 20px 0px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}

#experience .timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
#experience .timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
#experience .timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
#experience .timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
#experience .timeline-heading h4{
     color: #007AFC;
}

#experience .panel-sm-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
#experience .panel-sm-heading h4{
     color: #007AFC;
}

/* autres expérerience */

#otherExperience{
    background: #fff;
}
#otherExperience .heading h2{
    color: #007AFC;
}
.fas.fa-chevron-left, .fas.fa-chevron-right{
    background-image: none;
    color: #007AFC;
}
.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #007AFC;
}
.carousel-indicators li.active{
    background-color: #007AFC;
}
#myCarousel .carousel-item{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3{
    color: #007AFC;
    font-style: italic;
}

/* PORTFOLIO */

#portfolio{
    background: #007AFC;
}
#portfolio .heading h2{
    color: #fff;
}
#portfolio img{
    background: #eee;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    transition: all 0.5s ease-in 0s;
}
#portfolio img:hover{
     filter: none;
    -webkit-filter: none; 
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}

/* hobbies */

#hobbies{
    background: #fff;
}

#hobbies .heading h2{
    color: #007AFC;
}

#hobbies .card{
    width: auto;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    text-align: center;
    position: relative;
    padding: 10px;
    background: #eee;
}

#hobbies .card-header{
    margin: 0px;
    background: #0061C8;
    color: #fff;
    font-size: 50px;
    padding: 10px 0px 0px px;
    line-height: 60px
}

#hobbies .card-body{
    background: #007AFC;
    margin: 0px;
    padding: 10px 5px 0px 5px;
}

#hobbies .card-body h4{
    color: #fff;
    text-decoration: underline;
    margin: 0px;
    padding: 0px
}

#hobbies .card-body p{
    color: #333;
    margin: 10px 5px;
    padding: 0px;
    font-size: 20px;
}

/* contact */

#contact{
    background: #007AFC;
}

#contact .heading h2{
    color: #fff;
}

#contact .fab{
    font-size: 80px;
    color: #fff;
}

#contact .fas{
    font-size: 80px;
    color: #fff;
}

#contact .icon{
    text-align: center;
    padding: 20px 10px;
    color: #fff;
}

#contact .icon p{
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    font-size: 28px
}

/* footer */

footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .fas{
    font-size:  25px;
    margin: 20px;
    color: #007AFC;
    height: 30px;
}
footer .fas:hover{
    font-size:  30px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}
